.email-index {
    grid-column: 2;
}

.emails-list {
    list-style: none;
    padding: 0;
    margin-bottom: 60px;
}

.list-container {
    height: calc(100vh - 50px);
    background-color: #fff;
    border-radius: 16px;
    margin-bottom: 16px;
    overflow-y: auto;
}