.email-index {
    grid-row: 2;
    display: grid;
    grid-template-rows: 64px auto;
    grid-template-columns: 72px minmax(708px, auto) 56px;
    gap: 2px;
}

.emails-list {
    list-style: none;
    padding: 0;
    margin-bottom: 60px;
}

.emails-list .action-bar {
    display: flex;
    padding-left: 18px;
}

.select-dropdown {
    border-radius: 8px;
    width: 150px;
    padding: 4px;
    margin: 4px;
}

.select-dropdown:focus-visible {
    outline-color: rgb(118, 118, 118)
}

.list-container {
    grid-column: 2;
    grid-row: 2;
    height: calc(100vh - 50px);
    background-color: #fff;
    border-radius: 16px;
    margin-bottom: 16px;
    overflow-y: auto;
}