.home {
    grid-row: 2;
    text-align: center;
    height: 100%;
}

.home h1 {
    font-size: 40px;
    margin: 50px 0 20px 0;
}

.home img {
    width: 300px;
    margin-top: 50px;
}

.home img:hover {
    cursor: pointer;
}