.app-header {
    background: transparent;
    color: rgb(71, 71, 71);
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: subgrid;
}

.app-header section.container {
    display: flex;
    align-items: center;
    grid-column: 2;
    margin: 0;
}

.app-header nav a:not(:last-child) {
    margin-right: 10px;
}