.email-nav {
    grid-row: 2;
    background: transparent;
    color: rgb(71, 71, 71);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.email-nav section.container {
    display: flex;
    align-items: center;

}

.email-nav h1.logo {
    flex-grow: 1;
    font-weight: 600;
}

.email-nav .back {
    flex-grow: 1;
}

.email-nav nav a:not(:last-child) {
    margin-right: 10px;
}

.email-nav section.container>section {
    flex-grow: 1;
}

.email-nav .logo-img {
    width: 100px;
    margin-left: 20px;
}

.email-filter .email-filter-mag-glass {
    height: 20px;
}

.email-filter-input {
    position: relative;
    min-width: 500px;
}

.email-filter-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #ccc;
    /* Set the color of the icon */
    z-index: 1;
}

.email-filter input {
    border-radius: 24px;
    border: none;
    background-color: #eaf1fb;
    padding: 10px;
    width: 100%;
    margin-right: 10px;
    max-width: 500px;
    padding-left: 30px;
}

.email-filter-icon {
    color: #444746;
    border-radius: 50%;
}

.email-filter-icon:hover {
    transition: .5s;
    background-color: #dadadc;
}

.email-filter input:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    background-color: white;
}

.email-nav .email-filter {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}