.email-preview {
    display: grid;
    grid-template-columns: 60px 250px auto 70px;
    gap: 20px;
    padding: 10px 0;
    position: relative;
    border-bottom: 1px solid #e8edf2;
}

.email-preview.read {
    background-color: #e7f1ff;
}

.email-preview.unread {
    background-color: #fff;
}

.email-preview:hover {
    box-shadow: inset 1px 0 0 #dadce0,
        inset -1px 0 0 #dadce0,
        0 1px 2px 0 rgba(60, 64, 67, .3),
        0 1px 3px 1px rgba(60, 64, 67, .15);
    z-index: 2;
}

.email-preview:hover .email-actions {
    opacity: 1;
}

.email-preview:hover .email-date {
    opacity: 0;
}

.email-preview .email {
    grid-column: 1/4;
    display: grid;
    grid-template-columns: subgrid;
    align-items: center;
}

.email .email-star {
    grid-column: 1;
}

.email-preview .email>* {
    padding-left: 20px;
}

.email-content {
    grid-column: 2/4;
    display: grid;
    align-items: center;
    grid-template-columns: subgrid;
}

.email-content .email-body {
    grid-column: 2;
    text-wrap: nowrap;
}

.email-content .email-subject {
    grid-column: 1;
    text-wrap: nowrap;
}

.email-preview.unread .email-content .email-subject h4,
.email-preview.unread .email-content .email-body h5,
.email-preview.unread .email-date {
    font-weight: 700;
}

.email-date,
.email-actions {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    z-index: 1;
}

.email-date {
    opacity: 1;
    padding-right: 20px;
}

.email-actions {
    opacity: 0;
}

.email-actions button {
    background-color: transparent;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-right: 4px;
}

.email-actions button:hover {
    transition: .5s;
    background-color: #dadadc;
}