.email-preview {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.email-preview:hover {
    box-shadow: inset 1px 0 0 #dadce0,
        inset -1px 0 0 #dadce0,
        0 1px 2px 0 rgba(60, 64, 67, .3),
        0 1px 3px 1px rgba(60, 64, 67, .15);
}

.email-preview:hover .email-actions {
    display: block;
}

.email-preview .email {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.email-preview .email>* {
    padding-left: 20px;
}

.email-actions {
    display: none
}



.email-actions button {
    background-color: transparent;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.email-actions button:hover {
    transition: .5s;
    background-color: #dadadc;
}